templates_repo/workflows/rss_to_telegram_031/workflow.json
{
  "name": "RSS → Telegram hourly #031",
  "nodes": [
    {
      "parameters": {
        "mode": "everyHour"
      },
      "id": "cron31",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.RSS_URL}}"
      },
      "id": "rss31",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.CHAT_ID}}",
        "text": "={{$json[\"title\"]}} — {{$json[\"link\"]}}"
      },
      "id": "tg31",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "credentials": {
        "telegramApi": {
          "apiToken": "={{$env.TELEGRAM_TOKEN}}"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}